* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
}

.wrapper {
  border: 4px solid black;
  width: 800px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.score {
  font-size: 150px;
  color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 100px;
  text-align: center;
  display: none;
  z-index: 150;
}

.countdown {
  position: absolute;
  top: 520px;
  width: 100%;
  font-size: 20px;
  text-align: center;
}

button {
  position: absolute;
  bottom: 3px;
  left: 80%;
  transform: translate(-80%, 0);
  background: black;
  color: white;
  padding: 10px 50px;
  border-radius: 5px;
  z-index: 100;
  cursor: pointer;
  border: none;
  outline: none;
}

.game {
  border: 2px solid black;
  width: 600px;
  height: 400px;
  margin: 70px auto;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
}

.hole {
  /* border: 3px solid red; */
  flex: 1 0 33.33%;
  position: relative;
  overflow: hidden;
}

.hole:after {
  content: "";
  display: block;
  position: absolute;
  background-color: olive;
  width: 100%;
  height: 70px;
  z-index: 2;
  bottom: -30px;
  background-size: contain;
}

.mole {
  background-image: url("qJohnDeLancie.jpg");
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  background-repeat: no-repeat;
  background-position: bottom;
}

.mole.small {
  background-size: 60%;
}

.mole.large {
  background-size: 80%;
}

.hole.up .mole {
  top: 0;
}
