/* whole page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  background-image: url(https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569__480.jpg);
  background-color: rgb(131, 0, 131);
  color: white;
  text-shadow: 2px 1px whitesmoke;
  height: 99vh;
  width: 99vw;
  overflow: hidden;
}
/* top lines  */

.title {
  font-size: 2em;
  text-align: center;
  background-color: rgb(47, 0, 255);
  height: 5vh;
  width: 100vw;
  margin-top: 2px;
}

.top {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  background-color: rgb(47, 0, 255);
  height: 10vh;
  width: 100vw;
  overflow-wrap: break-word;
}

.topLeft {
  width: 48%;
}

.topRight {
  width: 48%;
}

.words {
  margin: -10px 0 0 20px;
  text-align: start;
}

.winSauce {
  margin: 2%;
  width: auto;
  visibility: hidden;
  text-shadow: none;
}

.score {
  font-size: 50px;
  color: #f30928;
  /* text-align: center; */
  /* z-index: 150; */
  margin-top: -20px;
  margin-left: 10px;
}

.countdown {
  font-size: 30px;
  text-align: center;
  color: rgb(6, 173, 89);
  margin-top: -10px;
}

.left {
  position: absolute;
  left: 20px;
  margin-top: 20%;
  padding: 10px;
}

.right {
  position: absolute;
  right: 30px;
  margin-top: 20%;
  padding: 10px;
}
/* middle */
/* the place mat */
.wrapper {
  height: 72vh;
  width: 72vw;
  margin: 0 14vw;
  border: 4px solid rgb(98, 212, 22);
  overflow: hidden;
  background-image: url("tngBridgeCBSOWNSTHIS.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
/* the meal */
.game {
  border: 2px solid black;
  height: 100%;
  width: auto;
  margin: 5px auto;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  cursor: crosshair;
}

.hole:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 31px;
  z-index: 2;
  bottom: -30px;
  background-size: contain;
}
/* Q */
.mole {
  background-image: url("qJohnDeLancie.jpg");
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  background-repeat: no-repeat;
  background-position: bottom;
}
/* top row or back */
.mole.small {
  background-size: 60%;
}
/* bottom row or front */
.mole.large {
  background-size: 80%;
}

/* changes margin at top to 0 to 'animate moles' */
.hole.up .mole {
  top: 0;
  z-index: 300;
}

.hole {
  flex: 1 0 33.33%;
  position: relative;
  overflow: hidden;
}
/* footer */

.bottom {
  display: flex;
  justify-content: space-around;
  background-color: rgb(47, 0, 255);
  height: 10vh;
  width: 100vw;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 6px;
}

button {
  background: black;
  color: white;
  padding: 10px;
  border-radius: 10px;
  z-index: 100;
  cursor: pointer;
  border: 2px solid white;
  margin: 1%;
  word-wrap: none;
  word-break: keep-all;
  width: 30%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.startButton {
  color: rgb(9, 185, 9);
  border: 2px solid rgb(9, 185, 9);
}
.infoModal {
  color: rgb(98, 159, 238);
  border: 2px solid rgb(98, 159, 238);
}

.link {
  text-decoration: none;
  color: rgb(248, 248, 120);
  text-shadow: 2px 1px 1px black;
  width: 30vw;
  padding: 10px;
  margin: 2%;
  border: 2px solid rgb(243, 243, 101);
}
/* modal */
.instructionsModal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  background-color: lightgrey;
  color: black;
  height: 80vh;
  width: 90vw;
  font-size: 2em;
  padding: 20px;
  text-align: center;
  margin: 3% 5% 10%;
}

li {
  list-style-type: none;
}

.closeInfo {
  color: rgb(248, 11, 43);
  border: 2px solid rgb(248, 11, 43);
}

@media screen and (max-width: 700px) {
  .title,
  .words {
    display: none;
  }

  .score,
  .countdown {
    margin: 1%;
    margin-right: 0;
    margin-left: 10px;
    background-color: transparent;
    min-height: 100px;
    /* border: 3px solid yellow; */
  }

  .winSauce {
    text-shadow: none;
  }
  .left {
    left: -5px;
    margin-top: 30%;
  }
  .right {
    right: 0;
    margin-top: 30%;
  }

  .score {
    padding: 0 10px;
    overflow-wrap: break-word;
  }
}

@media screen and (max-height: 550px) {
  .title,
  .words {
    display: none;
  }

  .score,
  .countdown {
    margin: 1%;
    /* margin-right: -50%; */
    background-color: transparent;
    margin-left: 15px;
    padding: 0 10px;
    overflow-wrap: break-word;
  }

  .winSauce {
    text-shadow: none;
  }
}
