* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: rgb(0, 0, 131);
  color: white;
  text-shadow: 2px 1px whitesmoke;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.title {
  font-size: 2em;
  text-align: center;
  background-color: rgb(47, 0, 255);
  height: 5vh;
  width: 100vw;
}

.top {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  background-color: rgb(47, 0, 255);
  height: 15vh;
  width: 100vw;
}
.topLeft {
  width: 48%;
}

.topRight {
  width: 48%;
}

.words {
  margin: 10px 0 0 20px;
  text-align: start;
}

.winSauce {
  /* visibility: hidden; */
  margin: 2%;
  width: auto;
}

.score {
  font-size: 50px;
  color: #f30928;
  text-align: center;
  /* visibility: hidden; */
  z-index: 150;
}

.countdown {
  font-size: 30px;
  text-align: center;
  color: rgb(6, 173, 89);
}

.wrapper {
  height: 70vh;
  width: 70vw;
  margin: 0 14vw;
  border: 4px solid rgb(98, 212, 22);
  overflow: hidden;
  background-image: url("tngBridgeCBSOWNSTHIS.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.game {
  border: 2px solid black;
  height: 100%;
  width: auto;
  margin: 5px auto;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  cursor: crosshair;
}

.hole:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 31px;
  z-index: 2;
  bottom: -30px;
  background-size: contain;
}

.mole {
  background-image: url("qJohnDeLancie.jpg");
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: 0.4s;
  background-repeat: no-repeat;
  background-position: bottom;
}

.mole.small {
  background-size: 60%;
}

.mole.large {
  background-size: 80%;
}

.hole.up .mole {
  top: 0;
  z-index: 300;
}

.hole {
  flex: 1 0 33.33%;
  position: relative;
  overflow: hidden;
}

.bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  background-color: rgb(47, 0, 255);
  height: 8vh;
  width: 100vw;
  text-align: center;
}

button {
  background: black;
  color: white;
  padding: 10px 50px;
  border-radius: 10px;
  z-index: 100;
  cursor: pointer;
  border: 2px solid white;
  margin: 1%;
  word-wrap: none;
  word-break: keep-all;
  width: 30%;
}

.startButton {
  color: rgb(9, 185, 9);
  border: 2px solid rgb(9, 185, 9);
}
.infoModal {
}

.link {
  text-decoration: none;
  color: rgb(248, 248, 120);
  text-shadow: 2px 1px 1px black;
  width: 30vw;
  padding: 10px;
  margin: 2%;
  border: 2px solid rgb(243, 243, 101);
}

.instructionsModal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  background-color: lightgrey;
  color: black;
  height: 90vh;
  width: 90vw;
  font-size: 4em;
  padding: 20px;
  text-align: center;
  margin: 3% 5% 10%;
}

li {
  list-style-type: none;
}
